body {
	background: yellow;
		font-family: Aril, sans-serif;
		text-align: center;
		border: 15px solid green;
		padding:20px
}

.corn-pictures {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 15px;
	padding: 10px;
}

.corn-pictures img {
	width 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 10px;
}